@import '../bootstrap-5.3.2/scss/bootstrap.scss';

@import 'variables.scss';

@import 'mixin.scss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600&display=swap');


//header//

.navegadortop {
    height: 45px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    flex-wrap: nowrap;
}


.btn-outline-primary.btn-menu {
    height: 45px;
    border-color: $lila;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: $small-font-size;


}


.btn-outline-primary:hover {
    background-color: $lila-opaco;
}

.grupo-busqueda {
    margin-left: 20px;
}




.form-control.me-2 {
    border-radius: 50px 0 0 50px;
    margin-right: 0 !important;
    font-family: $fuente-robotoslab;
    font-size: $small-font-size;
    background-color: $white;
    height: 40px;

}


.btn-outline-success.buscar{
    border-radius: 0 50px 50px 0;
    font-weight: $font-weight-semibold;
    
}

.btn-outline-success:hover {
    background-color: $lila;

}

.navegadorbottom {
    background-color: $lila-opaco;
}


//fin header//

//home //


.carousel-indicators [data-bs-target]{
    border-radius: 50%;
    width: 16px;
    height: 16px;
}
  
.carousel-item img {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
}

.carousel-item::before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.37);
    width: 100%;
    height: 100%;
    z-index: 1;
}
  
.carousel-caption {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 1;
    font-family: $fuente-montserrat;
    font-weight: $font-weight-bold;
}
  

.btn-banner{
    font-family: $fuente-montserrat;
    color: $blanco;
    width: 240px;
    height: 40px;
    border-radius: 0;
    
}

.col-sm-6.img-sillon{
    width: 500px;
    height: 357px;
}

.botones-aproductos {
    position: relative;
    overflow: hidden;

    a.btn h4 {
    position: absolute;
    bottom: 14px;
    right: 78px;
    margin: 0; 
    color: #fff; 
}
}

.container-fluid.separacion {
    background-image: url(../img/home/separacion.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 160px;
   
}

.separacion-item {
    margin-top: 40px;
    margin-bottom: 20px;
    p {
        font-family: $fuente-robotoslab;
        color: $violeta;
    }
}

.separacion-item svg{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 30px;
    margin-left: 30px;

}


.img-planta {
    width: 170px;
    height: 242px;
}

h1, h2, h3, h4, h5 {
    font-family: $fuente-montserrat;
}

p {
    font-family: $fuente-robotoslab;
}

//fin home//

//nosotros//

.banner-nosotros {
    position: relative;
    background-image: url(../img/nosotros/banner-nosotros.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 385px;

    &::before {
        content:"";
        position: absolute;
        background-color: rgba(0, 0, 0, 0.37);
        width: 100%;
        height: 100%;
        z-index: 0;
    }

}
.banner-nosotrosdentro {
    color: $blanco;
    position: absolute;
    z-index: 1;
}

.nosotros-1 {
    background-color: rgba(226, 226, 239, 0.37);
    height: 980px;
    width: 1200px;
}

.nosotros-dentro {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        background-image: url(../img/nosotros/fondo-nosotros-linea.png);
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    > div {
        position: relative;
        z-index: 1;
    }
}

.modal {
    display: none;
  }
  
  /* Estilo para mostrar el modal cuando se activa por :target */
  #exampleModal:target {
    display: block;
}

//PÁGINA ESPECIAL NAVIDAD.

.banner-navidad{
    position: relative;
    background-image: url(../img/banner-especial.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 430px;
}

.texto-navidad{
    color: #fff;
    font-weight: bold;
}

.texto-alineado{
    text-align: center;
}

.width1{
    width: 365px;
}




















//dormitorio productos //

.banner {
    position: relative;
    background-image: url(../img/productos/bannerproductos.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 397px;

    &::before {
        content:"";
        position: absolute;
        background-color: rgba(0, 0, 0, 0.37);
        width: 100%;
        height: 100%;
        z-index: 0;
    }

}

.col-3.botones {
    width: 170px;
    height: 170px;
    display: grid;
    place-items: center;
    
}

.boton-banner {
    display: inline-block;
    position: relative;
    border-radius: 80px 80px 80px 80px;
    transition: background-color 0.3s ease;
   
    
}
  
  .boton-banner:hover {
    background-color: $primary;
  }






footer{
    background-color: $lila-opaco;
}

aside{
    width: 20%;
    height: 1500px;
    background-color: rgba($color: #EBEBF2, $alpha: .3);
    float: left;
    margin-top: 70px;
}





.ctn1{
    width: 80%;
    margin-top: 120px;
    
}
.texto-gris{
    color: rgba($color: #9a9a9a, $alpha: .6);
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
}

.texto-blanco{
    color: $blanco;
    font-size: 14px;
    font-weight: 500;
}

//fin productos//

.tab-pane{
    background-color: $lila-opaco;
    width: 700px;
    height: 100px;
    padding-top: 10px;
    padding-left: 20px;
}

.link-gris{
    color: #9a9a9a;
}
.link-gris:hover{
    color: #000;
}
.link-gris:focus{
    color: #000;
    
}

.margin{
    margin-left: 100px;
}

.seccion{
    display: none;
}

.opcion{
    display: none;
}

.correo{
    @include fondo-formulario;
    width: 500px;
    height: 40px;
}

.nombre{
    @include fondo-formulario;
    width: 250px;
    height: 30px;
}

.retiro-fondo{
    @include fondo-formulario;
    width: 500px;
    height: 150px;
    padding: 10px;
}

.mercado{
    @include fondo-formulario;
    width: 300px;
    height: 50px;
    padding: 10px 50px;
}

.texto-pagar{
    @include fondo-formulario;
    width: 400px;
    height: 100px;
    padding: 10px 20px;
}
.borde{
    border-right: 1px solid $turquesa;
}