@import '../bootstrap-5.3.2/scss/bootstrap.scss';

@import 'variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600&display=swap');


//header//

.navegadortop {
    height: 45px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    flex-wrap: nowrap;
}


.btn-outline-primary.btn-menu {
    height: 45px;
    border-color: $lila;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: $small-font-size;


}


.btn-outline-primary:hover {
    background-color: $lila-opaco;
}

.grupo-busqueda {
    margin-left: 20px;
}




.form-control.me-2 {
    border-radius: 50px 0 0 50px;
    margin-right: 0 !important;
    font-family: $fuente-robotoslab;
    font-size: $small-font-size;
    background-color: $white;
    height: 40px;

}


.btn-outline-success.buscar{
    border-radius: 0 50px 50px 0;
    font-weight: $font-weight-semibold;
    
}

.btn-outline-success:hover {
    background-color: $lila;

}

.navegadorbottom {
    background-color: $lila-opaco;
}


//fin header//

.banner {
    position: relative;
    background-image: url(../img/productos/bannerproductos.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 397px;

    &::before {
        content:"";
        position: absolute;
        background-color: rgba(0, 0, 0, 0.37);
        width: 100%;
        height: 100%;
        z-index: 0;
    }

}

.col-3.botones {
    width: 170px;
    height: 170px;
    display: grid;
    place-items: center;
    
}

.boton-banner {
    display: inline-block;
    position: relative;
    border-radius: 80px 80px 80px 80px;
    transition: background-color 0.3s ease;
   
    
}
  
  .boton-banner:hover {
    background-color: $primary;
  }






footer{
    background-color: $lila-opaco;
}

aside{
    width: 20%;
    height: 1500px;
    background-color: rgba($color: #EBEBF2, $alpha: .3);
    float: left;
    margin-top: 70px;
}





.ctn1{
    width: 80%;
    margin-top: 120px;
    
}
.texto-gris{
    color: rgba($color: #9a9a9a, $alpha: .6);
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
}

.texto-blanco{
    color: $blanco;
    font-size: 14px;
    font-weight: 500;
}
/* HEAD >>>>>>>>>>>>>>>>>>>> */

.btn-tamano{
    color: $turquesa;
    border: 1px solid $turquesa;
    font-family: $fuente-robotoslab;
    padding: 5px 10px;
}

.btn-tamano:hover{
    color: #fff;
    background-color: $turquesa;
    
}

.fa-solid{
    z-index: 1;
    position: relative;
}
.opacity{
    opacity: 0;
    z-index: 2;
    position: absolute;
    margin-top: 5px;

}
.opacity:hover{
    opacity: 1;
}

p{
    font-family: $fuente-robotoslab;
}
label{
    font-family: $fuente-robotoslab;
}

input[type="number"]{
    font-family: $fuente-robotoslab;
    border: 0;
    border-bottom: 2px solid #000;
    width: 50px;
    padding: 0px 0px 0px 5px;
    background-color: transparent;
}
input[type="number"]:focus{
    outline: none;
}

.plazas{
    width: 300px;
}

.padding1{
    padding: 10px 40px;
}

.padding2{
    padding: 10px 150px;
}
.enlace1{
    font-family: $fuente-robotoslab;
}

.enlace1:hover{
    color: $turquesa;
}

.linea{
    border-top: 2px solid $turquesa;
    width: 290px;
}

